{% extends 'call4jobemp/base/base.html'%}
{% load static %}

{% block body %}
{% comment %} <style>
    .error {
        color: red;
        font-size: 11px;
        padding-bottom: 3px;
        margin: 0px 8px;
        font-weight: 300;
    }
</style> {% endcomment %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    section {
        position: relative;
        background-color: #035e7b38;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10em 20px 4em 20px;
    }

    section .container {
        position: relative;
        width: 800px;
        height: 900px;
        background: #fff;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        border-radius: 6px;
    }

    section .container .user {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section .container .user .formBx {
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        padding: 40px;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
    }

    section .container .user .formBx form h2 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        color: #555;
    }

    section .container .user .formBx form .btn {
        position: relative;
        width: 100%;
        padding: 10px;
        background: #f5f5f5;
        color: #333;
        border: none;
        outline: none;
        box-shadow: none;
        margin: 8px 8px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 300;
        cursor: pointer;
    }

    section .container .user .formBx form .field {
        background: #ffffff;
        cursor: context-menu;
    }

    section .container .user .formBx form .select {
        width: 47%;
    }

    section .container .user .formBx form .input_container {
        position: relative;
        color: #333;
        border: none;
        outline: none;
        box-shadow: none;
        margin: 5px;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: left;
    }

    section .container .user .formBx form .submit_btn {
        max-width: 100px;
        background: #035E7B;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: 0.5s;
    }

    section .container .user .formBx form .signup {
        position: relative;
        margin-top: 20px;
        font-size: 12px;
        letter-spacing: 1px;
        color: #555;
        text-transform: uppercase;
        font-weight: 300;
    }

    section .container .user .formBx form .signup a {
        font-weight: 600;
        text-decoration: none;
        color: #035E7B;
    }

    @media (max-width: 991px) {
        section .container .imgBx {
            display: none;
        }

        section .container .user .formBx {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        section .container {
            height: 1200px;
        }

        section .container .user .formBx form .input {
            width: 100%;
        }

        section .container .user .formBx form .select {
            width: 100%;
        }
    }


    /* toggle button css */
    input[type="checkbox"] {
        position: relative;
        width: 40px;
        height: 20px;
        -webkit-appearance: none;
        appearance: none;
        background: #9bc8d9;
        outline: none;
        border-radius: 2rem;
        cursor: pointer;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #cfcfcf;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }

    input[type="checkbox"]:checked::before {
        transform: translateX(100%);
        background: #fff;
    }

    input[type="checkbox"]:checked {
        background: #00ed64;
    }

    /* toggle button css ends */
</style>

<style>
    main#main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
    }

    .employementDetails {
        width: 50%;
        border: 1px solid #d9cece;
        padding: 50px;
        box-shadow: 0px 0px 4px 1px #cdcdcd;
    }

    .employementDetails button {
        text-align: center;
        margin-top: 15px;
        border: none;
        box-shadow: 0px;
    }

    .employementDetails .submitbutton {
        text-align: center;
    }

    .employementDetails select {
        margin-bottom: 15px;
    }

    .employementDetails label {
        width: 40%;
        margin-right: 10px;
    }

    .employementDetails .select-box {
        border-radius: 0px;
    }

    /* .employementDetails .select-box:hover{
    box-shadow: none;
    border: 1px solid #000;
} */
    /* .employementDetails input{
  width: 50%;
} */

    .employementDetails input,
    select {
        margin-bottom: 15px;
        border-radius: 0px;
    }

    input[type="checkbox"]:checked {
        outline: none;
        box-shadow: none;
        border: none;
    }
</style>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--  header Start -->
{% include 'call4jobemp/base/header.html' %}
<!-- header end -->

<main id="main" class="add-user-mainbody">
    <div class="employementDetails row">
        <h2 class="text-center heading mb-4">Create an account as Employee</h2>
        <form class="" method="POST" id="SignForm" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text"  hidden  value="{{slug}}"    id="slug" >

            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" checked onclick="select_employement()" class="form-check-input"
                        name="employed_checkbox" id="employed_checkbox">
                    <label class="form-check-label ml-3">Are you currently employed?</label>
                </div>
            </div>
            {% comment %} <div class="form-group d-flex mt-4">
                <label for="designation">Enter Designation</label>
                <input class="form-control" data-rule-required="true" name="designation" id="designation" type="text"
                    placeholder="Enter your Designation" />
            </div> {% endcomment %}
            <div class="form-group d-flex mt-4" id="Current-companydiv"  style="display: none;">
                <label for="Current-company">Current Company Name</label>
                <input class="form-control" data-rule-required="true" name="company" type="text"
                    placeholder="Enter your current company" id="Current-company" />
            </div>
            <div class="form-group d-flex mt-4" style="display: none;" id="Pervious-companydiv">
                <label for="Previous-company">Previous Company Name</label>
                <input class="form-control" data-rule-required="true" name="Previous-company" type="text"
                    placeholder="Enter your previous company" id="Pervious-company"/>
            </div>
            <div class="form-group d-flex">
                <label style="width: 28%;">Total Work Experienced</label>
                <div class="row">
                    <div class="col-6">
                        <select class="form-control select-box" name="year" id="year" data-rule-required="true">
                            <option value="" disabled selected hidden>Select Year</option>
                            <option value="1">1 year</option>
                            <option value="2">2 years</option>
                            <option value="3">3 years</option>
                            <option value="4">4 years</option>
                            <option value="5">5 years</option>
                            <option value="6">6 years</option>
                            <option value="7">7 years</option>
                            <option value="8">8 years</option>
                            <option value="9">9 years</option>
                            <option value="10">10 years</option>
                            <option value="10+">10+ years</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <select class="form-control select-box" name="month" id="month" data-rule-required="true">
                            <option value="" disabled selected hidden>Select Month</option>
                            <option value="1">1 month</option>
                            <option value="2">2 months</option>
                            <option value="3">3 months</option>
                            <option value="4">4 months</option>
                            <option value="5">5 months</option>
                            <option value="6">6 months</option>
                            <option value="7">7 months</option>
                            <option value="8">8 months</option>
                            <option value="9">9 months</option>
                            <option value="10">10 months</option>
                            <option value="11">11 months</option>
                        </select>
                    </div>
                </div>
            </div>
           
            <div class="form-group d-flex ">
                <label for="designation">Enter Designation</label>
                <input class="form-control" data-rule-required="true" name="designation" id="designation" type="text"
                    placeholder="Enter your Designation" />
            </div>
            <div class="form-group d-flex ">
                <label for="work_type">Work Type</label>
                <select class="form-control" id="work_type">
                    <option value="" disabled selected hidden>Select Work Type</option>
                    <option value="fulltime">Full time</option>
                    <option value="parttime">Part time</option>
                    <option value="contract">Contract</option>
                </select>
            </div>
            <div class="form-group d-flex ">
                <label for="joining-date">Joining Date</label>
                <input data-rule-required="true" class="form-control" type="date" id="joining-date"
                    placeholder="Joining date">
            </div>
            <div class="form-group d-flex " style="display: none;" id="Leaving-datediv">
                <label for="Leaving-date">Leaving Date</label>
                <input data-rule-required="true" class="form-control" type="date" id="Leaving-date" placeholder="Leaving date">
            </div>
            <div class="form-group d-flex ">
                <label for="salary">Current Salary</label>
                <input data-rule-required="true" class="form-control" type="text" id="salary" name=""
                    placeholder="Enter your current salary" />
            </div>
            <div class="form-group d-flex ">
                <label for="notice-period">Notice Period</label>
                <select data-rule-required="true" class="form-control" id="notice-period">
                    <option value="" disabled selected hidden>Select notice period</option>
                    <option value="15 days">15 days</option>
                    <option value="1">1 Month</option>
                    <option value="2">2 Months</option>
                    <option value="3">2+ Months</option>
                </select>
            </div>
            <div class="form-group d-flex ">
                <label for="key_skills">Key Skills</label>
                <textarea data-rule-required="true" class="form-control" name="key_skills" id="key_skills" cols="10"
                    rows="5" placeholder="Add key skills"></textarea>
            </div>
            <div class="submitbutton">
                <button class="btn btn-primary" type="button" onclick="sendMessage()"
                    style=" background-color: #035E7B;">Continue</button>
            </div>
    </div>
</form>
        <p class="signup mt-4">
            Already have an account? <a href="./Employee login.html">Sign in.</a>
        </p>
    </div>
    <!-- //signup box ends... -->
    </div>
    </div>


</main>
<!-- Hero Area End -->
<!-- ================ contact section start ================= -->
<!-- <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Register as employee</h2>
                </div>
                <div class="col-lg-12">
                    <form class="form-contact contact_form" method="POST" id="SignForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <input type="text"  hidden  value="{{slug}}"    id="slug" >

                            <div class="col-sm-6" >
                                <label><B>Are you  currently employed?</B></label>
                                <div class="form-group" >
                                    <div class="d-flex">
                                        <p>Yes</p>
                                        <p class="ml-4">No</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="primary-switch">
                                            <input type="checkbox" onclick="select_employement()"   value="yes" class="emp"  name="employed"  id="primary-switch" checked>
                                            <label for="primary-switch"></label>
                                        </div>
                                        <div class="confirm-switch ml-4">
                                            {% comment %} <input type="checkbox" onclick="select_employement('yes')" class="employed"  value="yes" name="employed"  id="primary-switch" checked> {% endcomment %}
                                            <input type="checkbox" onclick="select_employement('no')"   value="no"  class="emp" name="employed"  id="confirm-switch">
                                            <label for="confirm-switch"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label><B>Total Work Experienced</B></label>
                                <div class="d-flex">
                                    <div class="form-group" >
                                        <select style="overflow:auto;" name="year" id="year"  class="form-select"  data-rule-required="true" >
                                            <option selected disabled >Select Year </option>
                                            <option value="1">1 Year</option>
                                            <option value="2">2 Years</option>
                                            <option value="3">3 Years</option>
                                            <option value="4">4 Years</option>
                                            <option value="5">5 Years</option>
                                            <option value="6">6 Years</option>
                                            <option value="7">7 Years</option>
                                            <option value="8">8 Years</option>
                                            <option value="9">9 Years</option>
                                            <option value="10">10 Years</option>
                                            <option value="10+">10+Years</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="month" id="month" class="form-select"  data-rule-required="true" >
                                            <option selected disabled >Select month </option>
                                            <option value="1">1 month</option>
                                            <option value="2">2 months</option>
                                            <option value="3">3 months</option>
                                            <option value="4">4 months</option>
                                            <option value="5">5 months</option>
                                            <option value="6">6 months</option>
                                            <option value="7">7 months</option>
                                            <option value="8">8 months</option>
                                            <option value="9">9 months</option>
                                            <option value="10">10 months</option>
                                            <option value="11">11 months</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" id="current-company-name">
                                <label><B>Current Company Name</B></label>
                                <div class="form-group">
                                    <input class="form-control" data-rule-required="true" name="company" id="Current-company"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your company'" placeholder="Enter your company">
                                </div>
                            </div>
                            <div class="col-sm-6" id="pervious-company-name" style="display:none">
                                <label><B>Pervious Company Name</B></label>
                                <div class="form-group">
                                    <input class="form-control" data-rule-required="true" name="company" id="Previous-company"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your company'" placeholder="Enter your company">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label><B>Designation</B></label>
                                <div class="form-group">
                                    <input class="form-control" data-rule-required="true" name="designation" id="designation"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Designation'" placeholder="Enter your Designation">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label><B>Add key skills</B></label>
                                <div class="form-group">
                                    <textarea class="form-control" data-rule-required="true" name="key_skills" id="key_skills"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your key skills'" placeholder="Enter your key skills"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label><B>Work type</B></label>
                                <div class="form-group d-flex mt-20">
                                    <div class="worktypediv">
                                        <lebel><b> Full time </b></lebel>
                                        <input class="ml-2" name="work_type"  onclick="select_work('fulltime')" value="fulltime" id="full_time_work_type" type="checkbox">
                                    </div>
                                   <div class="worktypediv ml-3">
                                        <lebel><b> contract </b></lebel>
                                    tanya info    <input class="ml-2" name="work_type" onclick="select_work('contract')"   value="contract"  id="contract_work_type" type="checkbox">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-50">
                                <label><B >Joining date</B></label>
                                <label><B id="leaveing-date-lebel" style="display:none" class="ml-120">Leaving date</B></label>

                                <div class="d-flex">
                                        <div class="form-group">
                                            <input type="date" class="form-control" data-rule-required="true" name="joining-date" id="joining-date"   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your join date'" placeholder="Enter your join date">
                                        </div>
                                   
                                        <p class="ml-3 mr-3 mt-1">To<p> 
                                        <div class="form-group mt-1 ml-2" id="present">
                                            <button disabled class="genric-btn primary circle" type="button">Present</button>
                                        </div>
                                        <div style="display:none" class="form-group ml-2" id="leaveing-date">
                                            <input type="date" class="form-control" data-rule-required="true" name="leaveing-date" id="leaving-date"   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your join date'" placeholder="Enter your join date">
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-50">
                                <label><B >Current Salary</B></label>
                                <div class="form-group">
                                    <input type="te••••••••••xt" class="form-control" data-rule-required="true" name="salary" id="salary"   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your current salary'" placeholder="Enter your current salary">
                                </div>
                            </div>
                            <div class="col-sm-6 mt-50">
                                <label><B >Notice Period</B></label>
                                <div class="form-group">
                                    <select name="noticeperiod" id="notice-period" class="form-select"  data-rule-required="true" >
                                        <option selected disabled >Select notice period </option>
                                        <option value="15 days">15 Days</option>

                                        <option value="1 month">1 Month</option>
                                        <option value="2 month">2 Months</option>
                                        <option value="2+ month">2+ months</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="button" onclick="sendMessage()" class="button button-contactForm boxed-btn" style="padding:10px;">Continue</button>
                        </div>
                        {% comment %} <div class="form-group mt-3">
                            <button type="button" onclick="sendMessage()" class="button button-contactForm boxed-btn" style="padding:10px;">Continue</button>
                        </div> {% endcomment %}
                    </form>
                </div>
            </div>
        </div>
    </section> -->
{% include 'call4jobemp/base/footer.html' %}
<script>
    function select_employement() {
        if ($("#employed_checkbox").is(":checked")) {
            $('#Pervious-companydiv').addClass('d-none');
            $('#Current-companydiv').removeClass('d-none');
            $('#Leaving-datediv').addClass('d-none');
        } else {
            $('#Pervious-companydiv').removeClass('d-none');
            $('#Current-companydiv').addClass('d-none');
            $('#Leaving-datediv').removeClass('d-none');
        }
    }

    select_employement()
</script>
<script>
    function sendMessage() {
        if (!$('#SignForm').valid()) {
            return;
        }
        let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let employed_type = $("[name='employed_checkbox']:checked").val()

        let slug = $("#slug").val()

        let year = $("#year").val()

        let month = $("#month").val()

        let Currentcompany = $("#Current-company").val()

        let Previouscompany = $("#Previous-company").val()

        let designation = $("#designation").val()

        let key_skills = $("#key_skills").val()

        let work_type = $("#work_type").val()

        let joiningdate = $("#joining-date").val()

        let leaveingdate = $("#Leaving-date").val()


        let salary = $("#salary").val()

        let noticeperiod = $("#notice-period").val()



        $.ajax({
            type: "POST",
            url: "/signupEmployementAjax/" + slug,
            headers: { 'X-CSRFToken': csrftoken },

            data: {
                employed_type: employed_type,
                year: year,
                month: month,
                Currentcompany: Currentcompany,
                Previouscompany: Previouscompany,
                designation: designation,
                key_skills: key_skills,
                work_type: work_type,
                joiningdate: joiningdate,
                leaveingdate: leaveingdate,
                salary: salary,
                noticeperiod: noticeperiod,

            },

            success: function (res) {
                console.log(res.message);
                console.log('success');
                toastr.success(res.message);
                setTimeout(() => {
                    window.location.href = '/login/';
                }, 2000);


            },
            error: function (res) {
                console.log(res)
                toastr.error(res.responseJSON.message);

            }
        });










    }
</script>

{% comment %}
<script>
    function select_work(value) {
        if (value == "fulltime") {
            $('#full_time_work_type').attr('checked', true)
            $('#contract_work_type').attr('checked', false)
        } else if (value == "contract") {
            $('#full_time_work_type').attr('checked', false)
            $('#contract_work_type').attr('checked', true)
        }
    }
</script> {% endcomment %}
{% endblock body %}