<div class="flex flex-col justify-center text-center w-full mb-20">
    <h2 class="text-md text-[#035E7B] tracking-widest font-medium title-font mb-1">RECENT JOB</h2>
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Find Your Jobs</h1>
</div>
<div
    class="lg:flex md:flex-row flex-col items-center justify-between rounded-full shadow-xl xl:mx-56 lg:mx-34 md:mx-12 px-6 py-4 bg-blue-100/60  mb-12 hidden">
    <div class="w-1/3 h-6 flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 text-[#5a5a5a]">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <input class="w-full border-0 focus:ring-0 bg-transparent" type="text"
            placeholder="Enter skills / designations / companies">
    </div>
    <div class=""><select class="border-0 text-[#5a5a5a] focus:ring-0 bg-transparent" id="cars">
            <option value="" disabled selected hidden>Select experience</option>
            <option value="Frasher" default>Frasher</option>
            <option value="1 year">1 year</option>
            <option value="2 year">2 year</option>
        </select></div>
    <div class=""><input class="w-full border-0 focus:ring-0 bg-transparent" type="text"
            placeholder="Enter location"></div>
    <button class="bg-[#035E7B] text-white px-5 py-2 rounded-full">Search</button>
</div>
<div class="lg:hidden flex-col items-center p-4 flex mb-12">
    <div class="w-full flex items-center px-4 py-2 border border-[#5a5a5a] m-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 text-[#5a5a5a]">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <input class="w-full border-0 focus:ring-0 bg-transparent" type="text"
            placeholder="Enter skills / designations / companies">
    </div>
    <div class="w-full flex items-center px-4 py-2 border border-[#5a5a5a] m-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 text-[#5a5a5a]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
        <input class="w-full border-0 focus:ring-0 bg-transparent" type="text" placeholder="Location">
    </div>
    <div class="w-full flex items-center px-4 py-2 border border-[#5a5a5a] m-2"><select
            class="border-0 text-[#5a5a5a] focus:ring-0 bg-transparent" id="cars">
            <option value="" disabled selected hidden>Select experience</option>
            <option value="Frasher" default>Frasher</option>
            <option value="1 year">1 year</option>
            <option value="2 year">2 year</option>
        </select>
    </div>
    <button
        class="bg-[#035E7B] text-white px-5 py-2 rounded w-full flex items-center px-4 m-2 flex justify-center">Search</button>
</div>