
<ul class="metismenu" id="menu">
    <li class="has-menu ">
        <a class="has-arrow ai-icon" href="javascript:void()" onclick='window.open("/company/home/","_self")' >
            <i class="flaticon-381-networking"></i>
            <span class="nav-text">Dashboard</span>
        </a>
    </li>
    <li class="has-menu">
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
            <i class="flaticon-381-controls-3"></i>
            <span class="nav-text">JOBS</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="/company/job-list/">Job List</a></li>
            <li><a href="/company/create-job/">Create Job</a></li>
            
        </ul>
    </li>
</ul>

    
   
    
   
  
   
 